/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:focus, input:focus, textarea:focus, button:focus {
  outline: 0 solid;
}
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Open Sans' , sans-serif;
}
a:hover { text-decoration: none }

.section-padding {
  padding: 80px 0;
}

.news-letter-bg {
  background-image: url(../images/bg-1.jpg);
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding-bottom: 180px;
}

.news-letter-bg h2 {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.section-padding.news-letter-bg::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: #333;
    z-index: -1;
    opacity: .5;
}

input[type="email"] {
    width: 76%;
    border-radius: 50px;
    padding: 12px 20px;
    border: 1px solid #ddd;
    background: #333;
    opacity: .6;
}
input[type="submit"] {
    border-radius: 50px;
    border: none;
    width: 23%;
    background: #2AB89D;
    padding: 12px;
}

p.news-letter-text {
    margin-top: 28px;
    font-style: italic;
    font-size: 16px;
}

.bordered-box {
    position: relative;
    margin-top: -170px;
    background: #fff;
    z-index: 9;
    overflow: hidden;
}

.single-bordered-box {
    width: 50%;
    float: left;
    text-align: center;
    padding: 50px 60px;
    border: 1px solid #ddd;
    color: #888;
    min-height: 303px;
}

.single-bordered-box h4 {
    text-transform: uppercase;
    font-size: 20px;
    color: #000;
    margin-bottom: 32px;
}

p.author-name {
    color: #000;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 18px;
    font-style: normal;
}

a.boxed-btn {
    border-radius: 20px;
    background: #333333;
    color: #fff;
    padding: 8px 30px;
    margin-top: 17px;
    display: inline-block;
}
.single-testimonial-box {
    font-style: italic;
}
input[type="email"]:focus::-webkit-input-placeholder {
    color: transparent;
    transition: 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
input:focus::-moz-placeholder { color:transparent; }
b.about-section-word-highlight {
    color: #000;
}
