/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a:focus, input:focus, textarea:focus, button:focus {
  outline: 0 solid;
}
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Open Sans' , sans-serif;
}
a:hover { text-decoration: none }
.section-padding {
  padding: 150px 0;
}

.section-bg {
    background-image: url(../images/hotel-1.jpg);
    background-size: cover;
    background-position: center;
}

.section-overlay,.single-booking-item {
    position: relative;
    z-index: 1;
}

.section-overlay::after,.single-booking-item::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    content: "";
    z-index: -1;
    opacity: .7;
}
.single-booking-item::after {
    background: #000;
    opacity: .6;
}

.section-overlay:hover:after {
    opacity: .8;
}

.booking-area {
	color: #fff;
	text-align: center;
}

.single-booking-item {
    border: 2px solid #4B463E;
    padding: 25px;
    height: 110px;
}
.single-booking-item label {
    color: #ffff;
    opacity: .3;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

.single-booking-item select{
    border: none;
    display: block;
    font-size: 25px;
    background: none;
    color: #E4BC87;
    font-weight: 700;
}
.nice-select {
    width: 100%;
    background:none;
    border-style: none;
    color: #E4BC87;
    font-size: 25px;
    font-weight: 700;
    padding: 0 ;
    display: block;
    padding-bottom: 20px;


}
.nice-select .list {
    width: 100%;
}
.single-booking-item select:focus,.single-booking-item input[type=submit]:focus {
	outline: none;
}

.single-booking-item input[type=submit] {
    color: #E4BC87;
    background: none;
    text-align: center;
    text-transform: uppercase;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
}
img.top {
    max-width: 200px;
}

img.bottom {
    max-width: 100px;
    margin-bottom: 50px;
}

h1 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 20px;
}

.booking-area p {
    font-size: 32px;
    padding: 0;
}
.booking-form {
    margin-bottom: 20px;
}
.single-booking-item:hover {
    border: 2px solid #C6AA74;
}